html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.songlist{
    height:100px;
    width:100px;

}
.songlistbutton{
    float:right;
    margin-top:75px;
    height:25px;
    width:30px;
}

.songlist{
    width:200px;
    height:140px;
    background-color:lightblue;
    margin-top:10px;
}