
@{
    ViewData["Title"] = "Genre-Songs";

} 
@if (ViewBag.user != "Login")
{
    <div id = "Genre-buttons">
        @foreach (var genres in ViewBag.genre)
        {
            <p>-------</p>
            <a class="nav-link text-dark" id="Select" asp-area="" asp-controller="Home" asp-action="Songs">@{@genres.Genre}</a>
            <Input type="Button" value="Select" onclick="specificgenre('@genres.Genre')">
        }
    </div>
}



