
@{
    ViewData["Title"] = "Genre-Songs";
    
}

<h1>Genre</h1>

@*@foreach(Songs in Jukebox_MPA_ASP.NET.HomeController ) 
{
 <div class = "songlist">
 <p>Song name @{....}</p>
 <p>Genre @{...}</p>
 <button> Add to play list</Button>
 </div>
}*@