
@{
    ViewData["Title"] = "Genre-Songs";
    
}

<h1>Songs</h1>

@foreach(var front in ViewBag.item) 
{
 <div class = "songlist">
 <p>Song name @{@front.Name}</p>
 <p>Genre @{@front.Genre}</p>
 <Input type = "Button" value="Add to playlist" onclick="addtoqueue(@front.Id)"> 

 </div>
}
