
@{
    ViewData["Title"] = "Genre-Songs";

} 
@if (ViewBag.user != "Login")
{
    <div id = "Genre-buttons">
        @foreach (var genres in ViewBag.genre)
        {
           
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Songs" onclick="specificgenre('@genres.Genre')">@{@genres.Genre}</a>
        }
    </div>
}



