
@{
    ViewData["Title"] = "Genre-Songs";
    
}

<h1>Songs</h1>
@*CustomerModel customer in (CustomerModel[])ViewBag.Customers*@
@foreach(var songs in ViewBag.item) 
{
 <div class = "songlist">
 <p>Song name @{@songs.Song}</p>
 <p>Genre @{@songs.Genre}</p>
 <button asp-controller="Home" asp-action="Addtoplaylist"  > Add to play list</Button>
 </div>
}

@*// onclick = "Atpl( id, playlist);"*@