@using Jukebox_MPA_ASP.NET.Models.Database
@using Jukebox_MPA_ASP.NET.Controllers
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
 @foreach(var user in ViewBag.Users)
 {
  <div class="Usersinfo">
      <p>User name</p>
      <p> @{@user.Name}</p>
      <input type="button" value="Log in" onclick="Login(@user.Id)">
  </div>
 } 

    <div>
        <p>New user</p>
        <input type="text" value="" id= "userinput" />
        <input type="button" value="create" onclick="Newuser()"/>
    </div>


</div>
