@{
    ViewData["Title"] = "Lists";
}
<div class="Centerlisting">
<h1>@ViewData["Title"]</h1>
<h1>jouw lijsten</h1>

</div>
<div class="Listingbot">
    @if (ViewBag.songlist != null)
    {
        <input type="Button" value="Duration" onclick="Duration(@ViewBag.songlist)" />
        @foreach (var item in ViewBag.songlist)
        {
            <p>Song@{@item.Name}</p>
            <p>Dur @{@item.Duration}</p>
            <input type="Button" value="Remove" onclick="Removefromqueue(@item.Id)"/>

        }
    }

</div>
