@{
    ViewData["Title"] = "Lists";
}
<h1>@ViewData["Title"]</h1>

<h2>Lists</h2>

<h1>jouw lijsten</h1>

@*@foreach ()
{
    <div>
        @foreach (var item in collection)
        {
            
        }

    </div>

}*@
