<h1>Songs</h1>
        @foreach (var front in ViewBag.item)
        {
            if (ViewBag.genre == front.Genre)
            {
                <div class="songlist">
                    <p>Song name @{@front.Name}</p>
                    <p>Genre @{@front.Genre}</p>

                    <Input type="Button" value="Add to playlist" onclick="addtoqueue(@front.Id)">

                    @if (ViewBag.addlist != "Non")
                    {
                        <input type="button" value="Add to @ViewBag.addlist" onclick="Addsong(@front.Id)">
                    }
            <Input type="Button" value="Select" onclick="specificgenreview(@front.Id)">
            <a class="nav-link text-dark" id = "Select"  asp-area="" asp-controller="Home" asp-action="Songsspecific">Details</a>
            <p>-------</p>
                </div>
            }
        }
